
* {
    padding: 0;
    margin: 0;
}

.top-header {
    background-color: #eaae00;
}

header {
    display: flex;
    align-items: center;
    color: #fff;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

nav ul {
    padding: 0;
}

nav ul li {
    list-style-type: none;
    font-weight: 800;    
}


.search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 50px;
}

.search input {
    background-color: #ffc400;
    border: none;
    outline: none;
    padding-left: 5px;
    width: 170px;
    height: 100%;
    color: #fff;
}

.search input::placeholder{
    color: #fff;
}

.search i {
    height: 100%;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}