* {
  padding: 0;
  margin: 0;
}

.top-header {
  background-color: #eaae00;
  padding: 10px 0;
}

header {
  display: flex;
  align-items: center;
  color: #fff;
}

header img {
  height: 100px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav ul li {
  list-style-type: none;
  font-weight: 800;
  cursor: pointer;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  height: 50px;
}

.search input {
  background-color: #ffc400;
  border: none;
  outline: none;
  padding-left: 5px;
  width: 180px;
  height: 100%;
  color: #fff;
}

.search input::placeholder {
  color: #fff;
}

.search i {
  height: 100%;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #ffffff;
  background-color: #00bfcb;
}

.search i:active {
  opacity: 0.8;
}

.banner {
  height: 100vh;
  color: #fff;
}

.hero-banner {
  display: flex;
  background-color: #ffc400;
  align-items: center;
  justify-content: center;
}

.hero-banner .info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}

.hero-banner .info .btn {
  padding: 6px 14px;
  border-width: 2px;
}

.hero-banner .picture {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 50%;
}

.hero-banner .picture img {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  height: 400px;
}

.second-banner {
  height: 100vh;
  display: flex;
  align-items: center;
  color: #000;
}

.second-banner .info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
  width: 50%;
}

.second-banner .video-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  position: relative;
}

.second-banner .upper-box {
  height: 400px;
  width: 400px;
  background-color: #eaae00;
}

.second-banner .upper-box video {
  height: 100%;
  width: 400px;
}

.second-banner .lower-box {
  position: absolute;
  top: 220px;
  left: 50px;
  height: 200px;
  width: 200px;
  background-color: #ffc400;
  z-index: -999;
}

.third-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffc400;
  gap: 30px;
}

.third-banner .info {
  text-align: center;
}

.third-banner .card-box {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
}

.third-banner .card-box .card {
  border-radius: 0;
  border: none;
  width: 16rem;
  background-color: transparent;
}

.third-banner .card-box img {
  border-radius: 0;
}

.third-banner .card-body {
  text-align: center;
  color: #fff;
  padding: 10px 0;
}

.forth-banner {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  color: #000;
}

.forth-banner .info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: right;
  width: 50%;
}

.forth-banner .video-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  position: relative;
}

.forth-banner .upper-box {
  height: 400px;
  width: 400px;
  background-color: #eaae00;
}

.forth-banner .upper-box video {
  height: 100%;
  width: 400px;
}

.forth-banner .lower-box {
  position: absolute;
  top: 220px;
  right: 50px;
  height: 200px;
  width: 200px;
  background-color: #ffc400;
  z-index: -999;
}

.fifth-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #000;
  gap: 30px;
}

.fifth-banner .info {
  text-align: center;
}

.fifth-banner .card-box {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
}

.fifth-banner .card-box .card {
  border-radius: 0;
  border: none;
  width: 16rem;
  background-color: transparent;
}

.fifth-banner .card-box img {
  border-radius: 0;
}

.fifth-banner .card-body {
  text-align: center;
  padding: 10px 0;
}

.counter {
  background-color: #eaae00;
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  text-align: center;
}

.counter div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.counter div *{
  padding: 0;
  margin: 0;
}

.counter img {
  width: 80px;
  height: 80px;
}

.footer {
  height: 70vh;
  background-color: #313131;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer ul {
  padding: 0;
}

.footer ul li {
  list-style-type: none;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(126, 126, 126);
}
